* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    margin-top: auto;
}

/* menu */
.main-menu--wrapper {
    background-color: #0000FF; /* Blue */
    margin-bottom: 20px;
}

.main-menu {
    display: flex;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main-menu__item {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 10px;
    color: #FFFFFF;
}

.main-menu__item a {
    color: #FFFFFF; /* White */
    text-decoration: none;
}

.main-menu__item a:hover {
    text-decoration: underline;
}

.main-menu__item--brand {
    font-weight: bold;
    color: #FFFFFF;
}

/* max width */
.main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* footer always at bottom */
.main,
.main-menu--wrapper {
    flex: 0 0 auto;
}

/*Table settings*/
table {
    border: 2px solid #0000FF; /* Blue */
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #0000FF; /* Blue */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1, h2, h3 {
    color: #FF0000; /* Red */
}
